<%= render 'shared/header' %>

<div class="container w-25">
  <div class="fs-1 text-center mb-5">Search Category</div>

  <%= form_with url: category_search_path, method: :get do |form| %>
    <%= form.select :selectword, ["めっき", "陽極酸化", "化成", "コーティング", "表面硬化"], { include_blank: true }, { class: "form-select mb-3" } %>
    <%= form.submit "Search", class: "form-control mb-5 btn btn-secondary" %>
  <% end %>

  <div class="text-center"><%= link_to "Search Menu", home_path %></div>
</div>