<% content_for(:title, 'Main Menu') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">メインメニュー</h3>

  <div class="row mb-4">
    <%= render 'treatment_search' %>
    <%= render 'category_search' %>
    <%= render 'maker_search' %>
  </div>

  <div class="row mb-4">
    <%= render 'treatment_list_search' %>
    <%= render 'treatment_manage' %>
    <%= render 'category_manage' %>
  </div>

  <div class="row mb-4">
    <%= render 'maker_manage' %>
    <%= render 'user_manage' %>
    <%= render 'application_manage' %>
  </div>
</div>
