<% content_for(:title, 'Main Menu') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">メインメニュー</h3>

  <div class="row mb-4">
    <%= render partial: 'home_partial', locals: { image_path: 'experiment.svg',
                                                  card_title: '処理名で検索',
                                                  card_text:  '処理名を入力して表面処理を検索します。',
                                                  link_title: '検索ページへ',
                                                  link_path:  category_name_path } %>

    <%= render partial: 'home_partial', locals: { image_path: 'category.svg',
                                                  card_title: 'カテゴリーで検索',
                                                  card_text:  'カテゴリーを選択して表面処理を検索します。',
                                                  link_title: '検索ページへ',
                                                  link_path:  category_category_path } %>

    <%= render partial: 'home_partial', locals: { image_path: 'factory.svg',
                                                  card_title: 'メーカー名で検索',
                                                  card_text:  'メーカー名を入力して表面処理を検索します。',
                                                  link_title: '検索ページへ',
                                                  link_path:  category_maker_path } %>
  </div>

  <div class="row mb-4">
    <%= render partial: 'home_partial', locals: { image_path: 'list.svg',
                                                  card_title: '処理一覧から検索',
                                                  card_text:  '表面処理一覧から目的の処理を検索します。',
                                                  link_title: '検索ページへ',
                                                  link_path:  samples_path } %>

    <%= render partial: 'home_partial', locals: { image_path: 'library_add.svg',
                                                  card_title: '表面処理の管理',
                                                  card_text:  '表面処理に関する情報を一括管理します。',
                                                  link_title: '管理ページへ',
                                                  link_path:  samples_path } %>

    <%= render partial: 'home_partial', locals: { image_path: 'category_add.svg',
                                                  card_title: 'カテゴリーの管理',
                                                  card_text:  'カテゴリーに関する情報を一括管理します。',
                                                  link_title: '管理ページへ',
                                                  link_path:  categories_path } %>
  </div>

  <div class="row mb-4">
    <%= render 'maker_manage' %>
    <%= render 'user_manage' %>
    <%= render 'application_manage' %>
  </div>
</div>
