<% content_for(:title, 'Main Menu') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">メインメニュー</h3>

  <div class="row mb-4">
    <%= render 'treatment_search' %>
    <%= render 'category_search' %>
    <%= render 'maker_search' %>
  </div>

  <div class="row mb-4">
    <%= render 'treatment_list_search' %>
    <%= render 'treatment_manage' %>


    <div class="col">
      <div class="card pt-2" style="width: 18rem;">
        <%= image_tag 'category_add.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
        <div class="card-body">
          <h5 class="card-title">カテゴリーの管理</h5>
          <p class="card-text">カテゴリーに関する情報を一括管理します。</p>
          <%= link_to '管理ページへ', categories_path, class: 'card-link' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="card pt-2" style="width: 18rem;">
        <%= image_tag 'maker_add.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
        <div class="card-body">
          <h5 class="card-title">メーカーの管理</h5>
          <p class="card-text">メーカーに関する情報を一括管理します。</p>
          <%= link_to '管理ページへ', makers_path, class: 'card-link' %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card pt-2" style="width: 18rem;">
        <%= image_tag 'user_add.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
        <div class="card-body">
          <h5 class="card-title">ユーザーの管理</h5>
          <p class="card-text">ユーザーに関する情報を一括管理します。</p>
          <%= link_to '管理ページへ', users_path, class: 'card-link' %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card pt-2" style="width: 18rem;">
        <%= image_tag 'settings.svg', alt: 'sample image', class: 'card-img-top w-25', width: 50, height: 50 %>
        <div class="card-body">
          <h5 class="card-title">アプリケーションの管理</h5>
          <p class="card-text">アプリケーションの設定やログアウトを行います。</p>
          <%= link_to '管理ページへ', setting_path, class: 'card-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
