<%= render 'shared/header' %>

<div class="container w-25">
  <div class="fs-1 text-center mb-5">Search Name</div>

  <%= form_with url: category_name_search_path, method: :get do |form| %>
    <%= form.text_field :keyword, class: "form-control mb-3", placeholder: "input keyword here." %>
    <%= form.submit "Search", class: "form-control mb-5 btn btn-secondary" %>
  <% end %>

  <div class="text-center"><%= link_to "Main Menu", home_path %></div>
</div>
