<%= form_with model: @sample do |form| %>
  <%= form.label :name, "処理名", class: "form-label" %>
  <%= form.text_field :name, class: "form-control mb-3" %>
  <%= render 'shared/error_messages', object: @sample, label: :name %>

  <%= form.label :category, "カテゴリー", class: "form-label" %>

  <% if @sample.category.nil? %>
    <%= form.select :category, options_for_select(select_word), { include_blank: true }, class: "form-select mb-3" %>
  <% else %>
    <%= form.text_field :category, class: "form-control mb-3" %>
  <% end %>

  <%= render 'shared/error_messages', object: @sample, label: :category %>

  <%= form.label :color, "色調", class: "form-label" %>
  <%= form.text_field :color, class: "form-control mb-3" %>
  <%= render 'shared/error_messages', object: @sample, label: :color %>

  <%= form.label :maker, "メーカー", class: "form-label" %>
  <%= form.text_field :maker, class: "form-control mb-3" %>
  <%= render 'shared/error_messages', object: @sample, label: :maker %>

  <%= form.label :hardness, "硬度", class: "form-label" %>
  <%= form.text_field :hardness, class: "form-control mb-3" %>
  <%= render 'shared/error_messages', object: @sample, label: :hardness %>

  <%= form.label :film_thickness, "膜厚", class: "form-label" %>
  <%= form.text_field :film_thickness, class: "form-control mb-3" %>
  <%= render 'shared/error_messages', object: @sample, label: :film_thickness %>

  <%= form.label :feature, "特徴", class: "form-label" %>
  <%= form.text_field :feature, class: "form-control mb-3" %>
  <%= render 'shared/error_messages', object: @sample, label: :feature %>

  <%= form.label :picture, "画像", class: "form-label" %>
  <div><%= image_tag image, alt: 'No Image', class: 'mb-3', id: 'preview_image', width: 200, height: 200 %></div>
  <%= form.file_field :picture, class: 'form-control mb-4', accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
  <%= render 'shared/error_messages', object: @sample, label: :picture %>

  <%= form.submit button_name, class: "form-control btn btn-primary mb-4" %>
<% end %>
