<%= provide(:title, 'Surface Treatment List') %>

<%= render 'shared/header' %>

<%= render 'shared/flash_message' %>

<div class="container text-center w-50">
  <h3 class="mt-5 mb-5">Surface Treatment List</h3>

  <div class="list-group list-group-flush mb-2">
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h6>Treatment name / Category</h6>
        <h6>Maker</h6>
      </div>
    </div>

    <% @samples.each do |sample| %>
      <%= link_to sample, class: "list-group-item list-group-item-action" do %>
        <div class="d-flex w-100 justify-content-between">
          <h6><%= sample.name %></h6>
          <h6><%= sample.maker %></h6>
        </div>
        <h6 class="text-start"><%= sample.category %></h6>
      <% end %>
    <% end %>
  </div>

  <% if @samples.any? %>
    <ul class="pagination justify-content-center mb-5">
      <%= render 'previous_page', pages: @samples %>
      <%= render 'pages', pages: @samples %>
      <%= render 'next_page', pages: @samples %>
    </ul>
  <% end %>

  <div class="d-flex justify-content-evenly">
    <%= link_to 'New Registration', new_sample_path %>
    <%= link_to 'Main Menu', home_path %>
  </div>
</div>
