<%= render 'shared/header' %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissible fade show"><%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container w-50">
  <div class="text-center mb-3 fs-1">
    Sample Index
  </div>

  <div class="row">
    <% @samples.each do |sample| %>
      <div class="col-4 mb-3 text-center">
        <%= link_to sample.name, sample %>
      </div>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col text-center">
      <%= will_paginate @samples, class: "justify-content-center" %>
    </div>
  </div>
</div>
