<%= provide(:title, 'Surface Treatment List') %>

<%= render 'shared/header' %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissible fade show"><%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container text-center w-50">
  <h3 class="mb-5">Surface Treatment List</h3>

  <div class="list-group list-group-flush mb-3">
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h6>Treatment name / Category</h6>
        <h6>Maker</h6>
      </div>
    </div>

    <% @samples.each do |sample| %>
      <%= link_to sample, class: "list-group-item list-group-item-action" do %>
        <div class="d-flex w-100 justify-content-between">
          <h6><%= sample.name %></h6>
          <h6><%= sample.maker %></h6>
        </div>
        <h6 class="text-start"><%= sample.category %></h6>
      <% end %>
    <% end %>
  </div>

  <%= will_paginate @samples, class: "mb-5" %>

  <div class="d-flex w-100 justify-content-evenly mb-5">
    <%= link_to 'New Registration', new_sample_path %>
    <%= link_to 'Main Menu', home_path %>
  </div>
</div>
