<%= render 'shared/header' %>

<div class="container w-50">
  <div class="text-center mb-3 fs-1">
    Sample Index
  </div>

  <div class="row">
    <% @samples.each do |sample| %>
      <div class="col-4 mb-3 text-center">
        <%= link_to sample.name, sample %>
      </div>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col text-center">
      <%= will_paginate @samples, class: "justify-content-center" %>
    </div>
  </div>

  <div class="mt-3 text-center">
    <%= link_to "Sample New", new_sample_path %>
  </div>
</div>

<div class="container text-center w-25">
  <div class="mt-5 fs-4">
    Keyword Search
  </div>

    <%= form_with url: search_path, method: :get do |form| %>
      <%= form.text_field :word, class: "form-control mt-3", placeholder: "input keyword here." %>
      <%= form.select :search, ["perfect", "forward", "backward", "partial"], { include_blank: true }, { class: "form-select mt-3" } %>
      <%= form.submit "Search", class: "form-control mt-3 btn btn-secondary" %>
    <% end %>
</div>
