<%= provide(:title, 'New Registration for Surface Treatment') %>

<%= render 'shared/header' %>

<div class="container mb-5">
  <h3 class="text-center">New Registration for Surface Treatment</h3>
</div>

<div class="container w-25">
  <%= form_with model: @sample do |form| %>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control mb-3" %>
    <%= render 'shared/error_messages', object: @sample, label: :name %>

    <%= form.label :category, class: "form-label" %>
    <%= form.select :category, options_for_select(select_word), { include_blank: true }, class: "form-select mb-3" %>
    <%= render 'shared/error_messages', object: @sample, label: :category %>

    <%= form.label :color, class: "form-label" %>
    <%= form.text_field :color, class: "form-control mb-3" %>
    <%= render 'shared/error_messages', object: @sample, label: :color %>

    <%= form.label :maker, class: "form-label" %>
    <%= form.text_field :maker, class: "form-control mb-3" %>
    <%= render 'shared/error_messages', object: @sample, label: :maker %>

    <%= form.label :picture, class: "form-label" %>
    <div><%= image_tag '', alt: 'No Image', class: 'mb-3', id: 'preview_image', width: 200, height: 200 %></div>
    <%= form.file_field :picture, class: 'form-control mb-4', accept: 'image/jpeg,image/gif,image/png,image/jpg' %>

    <%= form.submit class: "form-control btn btn-primary mb-4" %>
  <% end %>
</div>

<div class="text-center"><%= link_to "Main Menu", home_path %></div>

<script type="text/javascript">
  document.getElementById('sample_picture').addEventListener('change', function() {
    let sizeInMegabytes = this.files[0].size / 1024 / 1024;
    if (sizeInMegabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  document.getElementById('sample_picture').addEventListener('change', function() {
    let file = this.files[0];
    if (file) {
      let reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('preview_image').setAttribute('src', e.target.result);
      }
      reader.readAsDataURL(file);
    }
  });
</script>
