<div class="container text-center">
  <div class="row">
    <div>
      Sample Show
    </div>
  </div>

  <div class="row">
    <div>
      name : <%= @sample.name %>
    </div>
  </div>

  <div class="row">
    <div>
      category : <%= @sample.category %>
    </div>
  </div>

  <div class="row">
    <div>
      color : <%= @sample.color %>
    </div>
  </div>

  <div class="row">
    <div>
      maker : <%= @sample.maker %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "Sample Edit", edit_sample_path(@sample) %>
    </div>
    <div class="col">
      <%= link_to "Sample Destroy", sample_path(@sample), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>

  <div class="row">
    <div>
      <%= link_to "Sample Index", samples_path %>
    </div>
  </div>
</div>