<%= content_for(:title, '表面処理情報') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">表面処理情報</h3>

  <div class="d-flex justify-content-end">
    <button class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#collapselinks" aria-expanded="false">
      Links
    </button>
  </div>
  <div class="d-flex justify-content-end">
    <div class="collapse" id="collapselinks">
      <div class="card" style="width: 11rem;" >
        <ul class="list-group list-group-flush text-end">
          <li class="list-group-item"><%= link_to "編集", edit_sample_path(@sample) %></li>
          <% if current_user.admin? %>
            <li class="list-group-item"><%= link_to "削除", sample_path(@sample), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></li>
          <% end %>
          <li class="list-group-item"><%= link_to "表面処理リストへ", samples_path %></li>
          <li class="list-group-item"><%= link_to "前ページへ", url_for(:back) %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>処理名 :</div>
      <div><%= @sample.name %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>カテゴリー :</div>
      <div><%= @sample.category %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>色調 :</div>
      <div><%= @sample.color %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>メーカー :</div>
      <div><%= @sample.maker %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>硬度 :</div>
      <div><%= @sample.hardness %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>膜厚 :</div>
      <div><%= @sample.film_thickness %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>特徴 :</div>
      <div><%= @sample.feature %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>画像 :</div>
      <div><%= image_tag @sample.picture.url, alt: 'sample image', class: 'mt-2 mb-2', width: 250, height: 250 %></div>
    </li>
  </div>
</div>

<div class="container w-50">
  <h4 class="mb-3">コメントの追加</h4>

  <%= form_with model: [ @sample, @sample.comments.build ],class: 'mb-5' do |form| %>
    <div class="form-floating mb-3 w-25">
      <%= form.text_field :commenter, class: 'form-control', id: 'commenter', placeholder: 'sample commenter' %>
      <%= form.label :commenter, "部署名と名前を入力", class: 'form-label', for: 'commenter' %>
    </div>
    <div class="form-floating mb-3 w-50">
      <%= form.text_area :body, class: 'form-control', id: 'body', placeholder: 'sample body' %>
      <%= form.label :body, 'コメントはここに入力', class: 'form-label', for: 'body' %>
    </div>
    <%= form.submit "追加", class: "btn btn-primary" %>
  <% end %>

  <h4 class="mb-3">コメントリスト</h4>

  <% if @sample.comments.any? %>
    <ul class="list-group list-group-flush mb-5">
      <% @sample.comments.each do |comment| %>
        <% unless comment.commenter.blank? || comment.body.blank? %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h6><%= comment.commenter %></h6>
              <h6><%= time_ago_in_words(comment.created_at) %> ago</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6><%= comment.body %></h6>
              <% if current_user.admin? %>
                <h6><%= link_to "削除", [comment.sample, comment], data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></h6>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
