<%= render 'shared/header' %>

<div class="container">
  <div class="mb-3 fs-1 text-center">
    Sample Show
  </div>

  <div class="row fs-4 mb-3">
    <div class="col text-end">
      name :
    </div>
    <div class="col text-start">
      <%= @sample.name %>
    </div>
  </div>

  <div class="row fs-4 mb-3">
    <div class="col text-end">
      category :
    </div>
    <div class="col text-start">
      <%= @sample.category %>
    </div>
  </div>

  <div class="row fs-4 mb-3">
    <div class="col text-end">
      color :
    </div>
    <div class="col text-start">
      <%= @sample.color %>
    </div>
  </div>

  <div class="row fs-4 mb-3">
    <div class="col text-end">
      maker :
    </div>
    <div class="col text-start">
      <%= @sample.maker %>
    </div>
  </div>

  <div class="col mb-3 text-center">
    <%= image_tag @sample.picture.url if @sample.picture? %>
  </div>

  <div class="row">
    <div class="col text-end">
      <%= link_to "Sample Edit", edit_sample_path(@sample) %>
    </div>
    <div class="col-2 text-center">
      <%= link_to "Sample Destroy", sample_path(@sample), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>
    </div>
    <div class="col text-start">
      <%= link_to "Main Menu", home_path %>
    </div>
  </div>
</div>

