<h1>Sample Show</h1>

<p>
  name : <%= @sample.name %>
</p>
<p>
  category : <%= @sample.category %>
</p>
<p>
  color : <%= @sample.color %>
</p>
<p>
  maker : <%= @sample.maker %>
</p>

<p>
  <%= link_to "Sample Edit", edit_sample_path(@sample) %> |
  <%= link_to "Sample Destroy", sample_path(@sample), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</p>