<%= content_for(:title, 'Surface Treatment Information') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">Surface Treatment Information</h3>

  <div class="d-flex justify-content-end">
    <button class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#collapselinks" aria-expanded="false">
      Links
    </button>
  </div>
  <div class="d-flex justify-content-end">
    <div class="collapse" id="collapselinks">
      <div class="card" style="width: 7rem;" >
        <ul class="list-group list-group-flush text-end">
          <li class="list-group-item"><%= link_to "Edit", edit_sample_path(@sample) %></li>
          <% if current_user.admin? %>
            <li class="list-group-item"><%= link_to "Destroy", sample_path(@sample), data: { turbo_method: :delete,
                                                                                             turbo_confirm: "Are you sure you want to delete?" } %></li>
          <% end %>
          <li class="list-group-item"><%= link_to "List", samples_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>Name :</div>
      <div><%= @sample.name %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Category :</div>
      <div><%= @sample.category %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Color :</div>
      <div><%= @sample.color %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Maker :</div>
      <div><%= @sample.maker %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Hardness :</div>
      <div><%= @sample.hardness %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Film Thickness :</div>
      <div><%= @sample.film_thickness %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Feature :</div>
      <div><%= @sample.feature %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Picture :</div>
      <div><%= image_tag @sample.picture.url, alt: 'sample image', class: 'mt-2 mb-2', width: 250, height: 250 %></div>
    </li>
  </div>
</div>

<div class="container w-50">
  <h4 class="mb-3">Add a comment</h4>

  <%= form_with model: [ @sample, @sample.comments.build ],class: 'mb-5' do |form| %>
    <div class="form-floating mb-3 w-25">
      <%= form.text_field :commenter, class: 'form-control', id: 'commenter', placeholder: 'sample commenter' %>
      <%= form.label :commenter, class: 'form-label', for: 'commenter' %>
    </div>
    <div class="form-floating mb-3 w-50">
      <%= form.text_area :body, class: 'form-control', id: 'body', placeholder: 'sample body' %>
      <%= form.label :body, 'Comment', class: 'form-label', for: 'body' %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
  <% end %>

  <h4 class="mb-3">Comment list</h4>

  <% if @sample.comments.any? %>
    <ul class="list-group list-group-flush mb-5">
      <% @sample.comments.each do |comment| %>
        <% unless comment.commenter.blank? || comment.body.blank? %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h6><%= comment.commenter %></h6>
              <h6><%= time_ago_in_words(comment.created_at) %> ago</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6><%= comment.body %></h6>
              <% if current_user.admin? %>
                <h6><%= link_to "Destroy", [comment.sample, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></h6>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
