<h1>Sample Show</h1>

<p>
  name : <%= @sample.name %>
</p>
<p>
  category : <%= @sample.category %>
</p>
<p>
  color : <%= @sample.color %>
</p>
<p>
  maker : <%= @sample.maker %>
</p>

<%= link_to "Sample Edit", edit_sample_path(@sample) %>