<%= provide(:title, 'Edit for User') %>

<%= render 'shared/header' %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">Edit for User</h3>

  <%= form_with model: @user do |form| %>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control mb-3" %>
    <%= render 'shared/error_messages', object: @user, label: :name %>

    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control mb-3" %>
    <%= render 'shared/error_messages', object: @user, label: :password %>

    <%= form.label :password_confirmation, "Confirmation", class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control mb-4" %>
    <%= render 'shared/error_messages', object: @user, label: :password_confirmation %>

    <%= form.submit class: "form-control btn btn-primary mb-5" %>
  <% end %>

  <div class="text-center"><%= link_to 'Information', user_path(@user) %></div>
</div>
