<div class="container">
  <div class="text-center fs-1 mt-5 mb-3">
    User Edit
  </div>

  <div class="container w-50">
    <%= form_with model: @user do |form| %>
      <div class="mb-3">
        <%= form.label :name, for: "exampleFormControlInput1", class: "form-label" %>
        <%= form.text_field :name, id: "exampleFormControlInput1", class: "form-control" %>
        <%= render 'shared/error_messages', object: @user, label: :name %>
      </div>

      <div class="mb-3">
        <%= form.label :password, for: "inputPassword5", class: "form-label" %>
        <%= form.password_field :password, id: "inputPassword5", class: "form-control" %>
        <%= render 'shared/error_messages', object: @user, label: :password %>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation, "Confirmation", for: "inputPassword5", class: "form-label" %>
        <%= form.password_field :password_confirmation, id: "inputPassword5", class: "form-control" %>
        <%= render 'shared/error_messages', object: @user, label: :password_confirmation %>
      </div>

      <div class="mb-3">
        <%= form.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
