<%= content_for(:title, 'ユーザーリスト') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">ユーザーリスト</h3>

  <div class="list-group list-group-flush mb-5">
    <div class="list-group-item">
      <div class="d-flex justify-content-between">
        <small>ユーザー名</small>
        <small>部署名</small>
      </div>
    </div>

    <% @users.each do |user| %>
      <% unless user.name == "admin user" || user.name == "general user" %>
        <%= link_to user, class: "list-group-item list-group-item-action" do %>
          <div class="d-flex justify-content-between">
            <div><%= user.name %></div>
            <div><%= user.department %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @users.any? %>
    <ul class="pagination justify-content-center mb-5">
      <%= render 'previous_page', pages: @users %>
      <%= render 'pages', pages: @users %>
      <%= render 'next_page', pages: @users %>
    </ul>
  <% end %>

  <div class="d-flex justify-content-evenly">
    <%= link_to 'ユーザー情報の登録', new_user_path %>
    <%= link_to 'メインメニューへ', home_path %>
  </div>
</div>
