<%= provide(:title, 'User List') %>

<%= render 'shared/header' %>

<div class="container w-25">
  <h3 class="text-center mb-5">User List</h3>

  <div class="list-group list-group-flush mb-5">
    <div class="list-group-item">
      <div class="d-flex justify-content-between">
        <small>Name</small>
        <small>Class</small>
      </div>
    </div>

    <% @users.each do |user| %>
      <%= link_to user, class: "list-group-item list-group-item-action" do %>
        <div class="d-flex justify-content-between">
          <div><%= user.name %></div>
          <div><%= user_class(user) %></div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex justify-content-evenly">
    <%= link_to 'New Registration', new_user_path %>
    <%= link_to 'Main Menu', home_path %>
  </div>
</div>
