<%= content_for(:title, 'User Information') %>

<%= render 'shared/flash_message' %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">User Information</h3>

  <div class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>Name :</div>
      <div><%= @user.name %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Class :</div>
      <% if @user.admin? %>
        <div>admin</div>
      <% else %>
        <div>general</div>
      <% end %>
    </li>
  </div>

  <div class="d-flex justify-content-evenly">
    <div><%= link_to 'Edit', edit_user_path(@user) %></div>
    <% if current_user.admin? && !current_user?(@user)%>
      <div><%= link_to "Destroy", @user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
    <% end %>
    <div><%= link_to 'List', users_path %></div>
  </div>
</div>
