<%= content_for(:title, 'ユーザー情報') %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">ユーザー情報</h3>

  <div class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>ユーザー名 :</div>
      <div><%= @user.name %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>部署名 :</div>
      <div><%= @user.department %></div>
    </li>
  </div>

  <div class="d-flex justify-content-evenly">
    <div><%= link_to '編集', edit_user_path(@user) %></div>
    <% if current_user.admin? && !current_user?(@user)%>
      <div><%= link_to "削除", @user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
    <% end %>
    <div><%= link_to 'ユーザーリストへ', users_path %></div>
  </div>
</div>
