<%= provide(:title, 'User Profile') %>

<% if logged_in? %>
  <%= render 'shared/header' %>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible fade show"><%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="container text-center w-50">
    <div class="mb-3 fs-1">
      User Profile
    </div>
    <div class="mb-3 fs-4">
      Name: <%= @user.name %>
    </div>
    <div class="mb-5 fs-5">
      This user is logging in.
    </div>
    <div class="mb-5"><%= link_to 'Main Menu', home_path %></div>
    <div class="mb-3">
      <% if current_user.admin? && !current_user?(@user)%>
        <%= link_to "User destroy", @user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
<% end %>