<div class="container w-50">
  <%= form_with model: sample do |form| %>
    <div class="mb-3">
      <%= form.label :name, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :name, class: "form-control", id: "exampleFormControlInput1", placeholder: "アルマイト" %>
    </div>

    <div class="mb-3">
      <%= form.label :category, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :category, class: "form-control", id: "exampleFormControlInput1", placeholder: "めっき" %>
    </div>

    <div class="mb-3">
      <%= form.label :color, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :color, class: "form-control", id: "exampleFormControlInput1", placeholder: "jade" %>
    </div>

    <div class="mb-3">
      <%= form.label :maker, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :maker, class: "form-control", id: "exampleFormControlInput1", placeholder: "Kub, Skiles and Abshire" %>
    </div>

    <div class="mb-3">
      <%= form.label :picture %>
      <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
