<div class="container w-50">
  <%= form_with model: sample do |form| %>
    <div class="mb-3">
      <%= form.label :name, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :name, class: "form-control", id: "exampleFormControlInput1", placeholder: "例）アルマイト" %>
      <% sample.errors.full_messages_for(:name).each do |message| %>
        <div class="text-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :category, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :category, class: "form-control", id: "exampleFormControlInput1", placeholder: "例）めっき" %>
      <% sample.errors.full_messages_for(:category).each do |message| %>
        <div class="text-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :color, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :color, class: "form-control", id: "exampleFormControlInput1", placeholder: "例）シルバー" %>
      <% sample.errors.full_messages_for(:color).each do |message| %>
        <div class="text-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :maker, for: "exampleFormControlInput1", class: "form-label" %>
      <%= form.text_field :maker, class: "form-control", id: "exampleFormControlInput1", placeholder: "例）株式会社松本農林" %>
      <% sample.errors.full_messages_for(:maker).each do |message| %>
        <div class="text-danger">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="row mb-3">
      <%= form.label :picture %>
      <%= image_tag @sample.picture.url if @sample.picture? %>
      <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  document.getElementById('sample_picture').addEventListener('change', function() {
    let sizeInMegabytes = this.files[0].size / 1024 / 1024;
    if (sizeInMegabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
