<%= content_for(:title, 'メーカー名で検索') %>

<div class="container text-center w-25">
  <h3 class="mt-5 mb-5">メーカー名で検索</h3>

  <%= form_with url: category_maker_search_path, method: :get do |form| %>
    <%= form.text_field :keyword, class: "form-control mb-3", placeholder: "キーワードをここに入力" %>
    <%= form.submit "検索", class: "btn btn-secondary form-control mb-5" %>
  <% end %>

  <div><%= link_to "メインメニューへ", home_path %></div>
</div>
