<%= content_for(:title, 'Search result of surface treatment') %>

<div class="container w-50">
  <%= render 'searches/headline' %>

  <div class="list-group list-group-flush mb-3">
    <%= render 'searches/list_label' %>
    <%= render 'searches/search_result' %>
  </div>

  <%= render 'searches/maker_pagination' %>
  <%= render 'searches/sub_menu', path: category_maker_path %>
</div>
