<%= provide(:title, 'Search Result') %>

<%= render 'shared/header' %>

<div class="container">
  <div class="text-center fs-1 mb-5">Search Result</div>
  <div class="text-center fs-6 mb-5">Search String :「<%= @search_string %>」</div>

  <div class="text-center">
    <% if @samples.any? %>
      <% @samples.each do |sample| %>
        <div class="mb-3"><%= link_to sample.name, sample_path(sample) %></div>
      <% end %>
    <% else %>
      <div class="fs-3">No matching sample.</div>
    <% end %>
  </div>

  <div class="text-center mt-5"><%= link_to 'Search Maker', category_maker_path %></div>
</div>
