<%= content_for(:title, 'Search result of surface treatment') %>

<div class="container w-50">
  <%= render 'searches/headline' %>

  <div class="list-group list-group-flush mb-3">
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h6>Treatment name / Category</h6>
        <h6>Maker</h6>
      </div>
    </div>

    <% if @samples.any? %>
      <% @samples.each do |sample| %>
        <%= link_to sample, class: "list-group-item list-group-item-action" do %>
          <div class="d-flex justify-content-between">
            <h6><%= sample.name %></h6>
            <h6><%= sample.maker %></h6>
          </div>
          <h6 class="text-start"><%= sample.category %></h6>
        <% end %>
      <% end %>
    <% else %>
      <h4 class="text-center m-5">No matching surface treatment.</h4>
    <% end %>
  </div>

  <% if @samples.any? %>
    <ul class="pagination justify-content-center mb-5">
      <% if @samples.previous_page %>
        <li class="page-item">
          <a class="page-link" href="/category/maker/search?commit=Search&keyword=<%= @keyword %>&page=<%= @samples.previous_page %>">Previous</a>
        </li>
      <% else %>
        <%= render 'disabled_previous_pages' %>
      <% end %>

      <% 1.upto(@samples.total_pages) do |page| %>
        <li class="page-item <%= 'active' if @samples.current_page == page %>">
          <a class="page-link" href="/category/maker/search?commit=Search&keyword=<%= @keyword %>&page=<%= page %>"><%= page %></a>
        </li>
      <% end %>

      <% if @samples.next_page %>
        <li class="page-item">
          <a class="page-link" href="/category/maker/search?commit=Search&keyword=<%= @keyword %>&page=<%= @samples.next_page %>">Next</a>
        </li>
      <% else %>
        <%= render 'disabled_next_pages' %>
      <% end %>
    </ul>
  <% end %>

  <%= render 'searches/sub_menu', path: category_maker_path %>
</div>
