<%= content_for(:title, '処理名での検索結果') %>

<div class="container w-50">
  <%= render 'searches/headline' %>

  <div class="list-group list-group-flush mb-3">
    <%= render 'searches/list_label' %>
    <%= render 'searches/search_result' %>
  </div>

  <%= render 'searches/name_pagination' %>
  <%= render 'searches/sub_menu', path: category_name_path %>
</div>
