<%= provide(:title, 'Category List') %>

<%= render 'shared/header' %>

<%= render 'shared/flash_message' %>

<div class="container w-25">
  <h3 class="text-center mt-5 mb-5">Category List</h3>

  <ul class="list-group mb-5">
    <% @categories.each do |category| %>
      <%= link_to category.item, category, class: "list-group-item list-group-item-action" %>
    <% end %>
  </ul>

  <div class="d-flex justify-content-evenly">
    <%= link_to 'New Registration', new_category_path %>
    <%= link_to 'Main Menu', home_path %>
  </div>
</div>
