<%= content_for(:title, 'カテゴリーリスト') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">カテゴリーリスト</h3>

  <div class="list-group list-group-flush mb-5">
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h6>カテゴリー名</h6>
        <h6>概要</h6>
      </div>
    </div>

    <% @categories.each do |category| %>
      <%= link_to category, class: "list-group-item list-group-item-action" do %>
        <div class="d-flex w-100 justify-content-between">
          <h6><%= category.item %></h6>
          <h6><%= category.summary %></h6>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex justify-content-evenly">
    <%= link_to 'カテゴリーの登録', new_category_path %>
    <%= link_to 'メインメニューへ', home_path %>
  </div>
</div>
