<%= content_for(:title, 'カテゴリー情報') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">カテゴリー情報</h3>

  <ul class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>カテゴリー名 :</div>
      <div><%= @category.item %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>概要 :</div>
      <div><%= @category.summary %></div>
    </li>
  </ul>

  <div class="d-flex justify-content-evenly">
    <div><%= link_to '編集', edit_category_path(@category) %></div>
    <% if current_user.admin? %>
      <div><%= link_to "削除", @category, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %></div>
    <% end %>
    <div><%= link_to 'カテゴリーリストへ', categories_path %></div>
  </div>
</div>
