<%= provide(:title, 'Category Information') %>

<%= render 'shared/header' %>

<%= render 'shared/flash_message' %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">Category Information</h3>

  <ul class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>Item :</div>
      <div><%= @category.item %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Summary :</div>
      <div><%= @category.summary %></div>
    </li>
  </ul>

  <div class="d-flex justify-content-evenly">
    <div><%= link_to 'Edit', @category %></div>
    <% if current_user.admin? %>
      <div><%= link_to "Destroy", @category, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %></div>
    <% end %>
    <div><%= link_to 'List', categories_path %></div>
  </div>
</div>
