<%= provide(:title, 'Maker Information') %>

<%= render 'shared/header' %>

<div class="container w-25">
  <h3 class="text-center mb-5">Maker Information</h3>

  <div class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>Name :</div>
      <div><%= @maker.name %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Postal Code :</div>
      <div><%= @maker.postal_code %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Address :</div>
      <div><%= @maker.address %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Phone Number :</div>
      <div><%= @maker.phone_number %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Fax Number :</div>
      <div><%= @maker.fax_number %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Email :</div>
      <div><%= @maker.email %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Home Page :</div>
      <div><%= @maker.home_page %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Manufacturer Rep :</div>
      <div><%= @maker.manufacturer_rep %></div>
    </li>
  </div>

  <%# <div class="row text-center"> %>
    <%# <div class="col"> %>
      <%#= link_to "Edit", edit_sample_path(@sample) %>
    <%# </div> %>
    <%# <div class="col"> %>
      <%#= link_to "Destroy", sample_path(@sample), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>
    <%# </div> %>
    <%# <div class="col"> %>
      <%#= link_to "List", makers_path %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
