<%= content_for(:title, 'メーカー情報') %>

<div class="container w-50">
  <h3 class="text-center mt-5 mb-5">メーカー情報</h3>

  <div class="list-group mb-5">
    <li class="d-flex justify-content-between list-group-item">
      <div>メーカー名:</div>
      <div><%= @maker.name %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>郵便番号:</div>
      <div><%= @maker.postal_code %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>住所:</div>
      <div><%= @maker.address %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>電話番号:</div>
      <div><%= @maker.phone_number %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>FAX番号:</div>
      <div><%= @maker.fax_number %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>Email:</div>
      <div><%= @maker.email %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>ホームページ:</div>
      <div><%= @maker.home_page %></div>
    </li>
    <li class="d-flex justify-content-between list-group-item">
      <div>担当者:</div>
      <div><%= @maker.manufacturer_rep %></div>
    </li>
  </div>

  <div class="d-flex justify-content-evenly">
    <%= link_to "編集", edit_maker_path(@maker) %>
    <% if current_user.admin? %>
      <%= link_to "削除", maker_path(@maker), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>
    <% end %>
    <%= link_to "メーカーリスト", makers_path %>
  </div>
</div>
